[submodule "submodules/qtfx"]
	path = submodules/qtfx
	url = https://github.com/tgeijten/qtfx.git

[submodule "submodules/vis"]
	path = submodules/vis
	url = https://github.com/tgeijten/vis.git

[submodule "submodules/scone"]
	path = submodules/scone
	url = https://github.com/ipab-slmc/scone-core.git

[submodule "submodules/OpenSceneGraph"]
	path = submodules/OpenSceneGraph
	url = https://github.com/openscenegraph/OpenSceneGraph.git

[submodule "submodules/opensim3-scone"]
	path = submodules/opensim3-scone
	url = https://github.com/tgeijten/opensim3-scone.git
	
[submodule "submodules/simbody"]
	path = submodules/simbody
	url = https://github.com/simbody/simbody.git
